/.venv
new/empty.py
new/t1.py
.idea/material_theme_project_new.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.gitignore
.idea/inspectionProfiles/Project_Default.xml
.gitignore
.idea/Test.iml
.idea/inspectionProfiles/profiles_settings.xml
